@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* * {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
} */

body {
  background-color: rgb(29, 29, 29);
}

.wallpaper {
  max-width: 1600px;
  margin: auto !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.container-description {
  display: flex;
  justify-content: space-around;
  width: 100% !important;
}

.container-dev {
  text-align: center;
  border-radius: 15px;
  padding: 35px !important;
  transition: all ease-in-out .5s;
}

.desc {
  color: white;
  width: 620px !important;
  margin-top: 35px !important;
  font-size: 18px;
}

.developer {
  height: 270px;
}

.container-link {
  display: flex;
  flex-direction: column;
}

i:hover {
  color:coral !important;
}

.container-lang {
  position: relative;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  padding: 35px !important;
}

.container-lang img {
  padding: 3px !important;
  height: 75px;
  width: 75px;
  object-fit: contain;
  transition: all ease-in-out .1s;
}

.container-lang img:hover {
  transform: scale(1.5);
  box-shadow: none !important;
}

.container-mouse {
  /* position: absolute; */
  right: 120px;
  bottom: 120px;
  padding: 40px 70px !important;
  transition: all ease-in-out .3s;
  border: rgb(128, 128, 128) 2px solid;
  animation: luces 10s infinite linear;
  border-radius: 15px;
}

@keyframes luces {
  0% {
    box-shadow: rgba(8, 250, 0, 0.458) 0px 14px 28px, rgba(8, 250, 0, 0.458) 0px 10px 10px;
  }
  15% {
    box-shadow: rgba(250, 0, 250, 0.458) 0px 14px 28px, rgba(250, 0, 225, 0.458) 0px 10px 10px;
  }
  30% {
    box-shadow: rgba(250, 0, 0, 0.458) 0px 14px 28px, rgba(250, 0, 0, 0.458) 0px 10px 10px;
  }
  45% {
    box-shadow: rgba(208, 250, 0, 0.458) 0px 14px 28px, rgba(233, 250, 0, 0.458) 0px 10px 10px;
  }
  60% {
    box-shadow: rgba(8, 0, 250, 0.458) 0px 14px 28px, rgba(8, 0, 250, 0.458) 0px 10px 10px;
  }
  75% {
    box-shadow: rgba(255, 255, 255, 0.458) 0px 14px 28px, rgba(255, 255, 255, 0.458) 0px 10px 10px;
  }
  90% {
    box-shadow: rgba(0, 237, 250, 0.458) 0px 14px 28px, rgba(0, 237, 250, 0.458) 0px 10px 10px;
  }
  90% {
    box-shadow: rgba(250, 150, 0, 0.458) 0px 14px 28px, rgba(250, 150, 0, 0.458) 0px 10px 10px;
  }
}

.container-mouse img{
  height: 120px;
}

.container-maquina {
  /* padding: 25px !important; */
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.maquina-escribir {
  font-size: xx-large;
  display: block;
  font-family: monospace;
  white-space: nowrap; /*los espacios en blanco no rompen la línea*/
  width: 20ch; /*el ancho será el número de caracteres que tiene nuestra línea*/
  animation: escribiendo 2s steps(20);          
  overflow: hidden;
  color: white;
}

.cursor{
  animation: .6s parpadeo-cursor infinite;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1180px) {
  .container-description {
    flex-direction: column;
    align-items: center;
  }

  .container-mouse {
    display: none;
  }
}

@media (max-width: 1080px) {
  .wallpaper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 25px;
  }

  .container-lang {
    /* position: relative; */
    padding: 5px !important;
  }
}

@media (max-width: 992px) {
  .container-description {
    gap: 25px !important;
  }

  .container-lang {
    /* display: none; */
    display: flex;
    max-width: 850px;
    overflow-x: auto;
    padding: 10px !important;
  }

  .container-dev {
    padding: 0px !important;
  }
}

@media (max-width: 851px) {
  .container-lang {
    max-width: 730px;
  }
}

@media (max-width: 737px) {
  .container-lang {
    max-width: 610px;
  }
}

@media (max-width: 642px) {
  .desc {
    padding-top: 20px !important;
    width: 320px !important;
    margin: auto !important;
  }

  .bi-linkedin {
    font-size: 3rem !important;
  }

  .bi-github {
    font-size: 3rem !important;
  }

  .dev-link {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
  }

  .developer {
    height: 200px !important;
  }

  .container-link {
    flex-direction: row;
    gap: 50px;
  }

  .container-lang {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .desc {
    font-size: 15px;
  }
}

@media (max-width: 440px) {
  .container-lang {
    grid-template-columns: repeat(2, 1fr);
  }

  .container-maquina {
    padding: 0 !important;
  }
}
